body{background:#eee;color:#444;font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;}
p,li{font:normal normal 400 1em/1.5em Georgia,Serif;}
a{text-decoration:none;}
.black{background:#161616 url("/img/top.gif") repeat-x top left;padding-top:15px;margin-bottom:30px;}
#header{text-align:center;margin-bottom:20px;font-size:11px;}#header a{color:#666;text-decoration:underline;}
#logo{font-size:11px;text-align:center;margin-bottom:15px;color:#fff;}#logo img{vertical-align:middle;margin-right:2px;}
#logo em{color:#999;font-style:normal;}
#logo a{color:#fffccc;font-weight:bold;}
#content .notenav{font-size:11px;color:#999;border-bottom:1px dotted #ccc;padding-bottom:8px;margin-bottom:20px;}#content .notenav a{color:#666;text-decoration:underline;}
#content .note{background:#fff;border:1px solid #ececec;padding:25px;-moz-border-radius:8px;-webkit-border-radius:8px;border-radius:8px;}#content .note .meta{margin-top:20px;border-top:1px dotted #ccc;padding-top:8px;color:#999;font-size:11px;}#content .note .meta a{color:#666;text-decoration:underline;}
#content article h1{font-size:18px;font-weight:bold;border-bottom:1px solid #eee;}
#content article h2{font-size:16px;font-weight:bold;border-bottom:1px solid #eee;}
#content article p{font-size:14px;line-height:1.5em;}
#content article li{font-size:14px;line-height:1.5em;}
#content article a{background:#e3fff0;color:#444;}
#content article blockquote{font-style:italic;color:#999;}
#content article .float-right{float:right;margin-left:1em;}
#content article .float-left{float:left;margin-right:1em;}
#footer div{margin-top:30px;padding-top:10px;padding-bottom:30px;font-size:11px;color:#999;text-align:center;border-top:1px solid #ddd;}#footer div a{color:#666;text-decoration:underline;}
article pre{margin:1em 0 !important;font-size:90% !important;background-color:#fffccc !important;border:1px solid #dedede !important;padding:.5em !important;line-height:1.5em !important;color:#444 !important;overflow:auto !important;}
article pre code{padding:0 !important;font-size:100% !important;background-color:#f8f8ff !important;border:none !important;}
article code{font-size:90% !important;background-color:#fffddd !important;color:#444 !important;padding:0 .2em !important;border:1px solid #ddd !important;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;}
