html {
  background: #f6f6f6;
}
body {
  font-family: 'Droid Sans', Helvetica, Arial, sans-serif;
  background: #f6f6f6;
  color: #444;
  margin-top: 4em;
}
.center {
  text-align: center;
}
sup {
  font-size: 11px;
  color: #999;
}
#footer {
  margin-bottom: 4em;
  margin-top: 5em;
  padding-top: 0.5em;
  border-top: 1px solid #ddd;
  font-size: 11px;
  color: #aaa;
}
#footer a {
  color: #999;
  text-decoration: underline;
}
#page {
  background: #fff;
  color: #333;
  border: 1px solid #ddd;
  padding: 25px;
  margin-bottom: 1em;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.125);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.125);
}
#page h1.title {
  margin: -25px -25px 25px -25px;
  padding: 15px 25px;
  background: #fffdef;
  font-size: 24px;
  border-bottom: 1px solid #eee;
  -moz-border-radius: 6px 6px 0 0;
  border-radius: 6px 6px 0 0;
}
#page h1.title a {
  text-decoration: none;
}
#page a {
  color: #00a99d;
  text-decoration: underline;
}
#page h1,
#page h2,
#page h3,
#page h4,
#page h5,
#page h6 {
  margin-bottom: 15px;
  color: #333;
}
#page p {
  font-family: 'Droid Sans', Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 1.7em;
  margin-bottom: 1.5em;
}
#page img {
  max-width: 100%;
}
#page form {
  padding-left: 0 !important;
}
#page form label {
  margin-bottom: 10px;
}
#page form textarea {
  width: 98%;
  height: 300px;
  margin-bottom: 10px;
}
#page blockquote {
  color: #999;
}
.tools {
  margin-bottom: 1em;
  text-align: right;
}
