html {
  background: #f6f6f6;
}
body {
  font-family: 'Droid Sans', Helvetica, Arial, sans-serif;
  background: #f6f6f6;
  color: #444;
  margin-top: 30px;
}
#header {
  color: #666;
  margin-bottom: 3em;
}
#footer {
  margin-bottom: 4em;
  margin-top: 5em;
  padding-top: 0.5em;
  border-top: 1px solid #ddd;
  font-size: 11px;
  color: #ccc;
}
#footer a {
  color: #999;
  text-decoration: underline;
}
#page {
  background: #fff;
  border: 1px solid #ddd;
  padding: 2em;
  margin-bottom: 1em;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.125);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.125);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.125);
}
#page a {
  color: #00a99d;
  text-decoration: underline;
}
#page h1,
#page h2,
#page h3,
#page h4,
#page h5,
#page h6 {
  margin-bottom: 15px;
}
#page p {
  font-family: 'Droid Sans', Helvetica, Arial, sans-serif;
  line-height: 1.7em;
  margin-bottom: 1.5em;
}
#page img {
  max-width: 100%;
}
.tools {
  text-align: right;
}
